  
  ul {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

li {
	padding: 5px;
	background-color: #38705b;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: x-large;
	color: white;
}

li:hover {
    background-color: #e2e2e2;

}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
  font-family: Arial, sans-serif;
  color: rgb(0, 194, 58);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #000000;
}

#ultimoAtendimento {
  font-size: 40px;
  background: #999999;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  
}
.card-painel {
  background: #e0e0e0;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#ultimoAtendimento {
  font-size: 40px;
  padding: 10px;
  background: none; 
  box-shadow: none; 
}